body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30vmin;
  pointer-events: none;
}
.link-no-decoration{
 text-decoration:none;
}

.nav ul {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  margin-bottom: -2px;
}
.nav li:first-child {
  padding-left: 0;
}
.authed-user-Info{
  float: right;
  display: flex;
  align-items: center;
}
/* .nav-button{
  text-decoration: none;
  color: white;
  background-color: #09bbb5;
} */
.active {
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: #09bbb5;
}
.nav-container {
  border-bottom: #09bbb5 2px solid;
  margin-bottom: 10px;
}
ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}
.avatar {
  height: 40px;
  border-radius: 20px;
  margin: 10px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
.center{
  text-align: center;
}
.signIn-container{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 400px;
    border: 1px solid #cfcccc;
}
.signIn-container > div {
  border: 1px solid #525050;
  background: #a3a2a2
}
.signIn-container > div {
  border: 1px solid #cfcccc;
  background: #f5f4f4;
}
/* .signIn-container > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center
  
} */
.column-center{
  display: flex;
  flex-direction: column;
  justify-content: center
}
.signIn-container > div > div > span:first-child {
  font-weight: bold;
  text-align:center;
}
.signIn-container > div > div > span:nth-child(2) {
  color: #969696;
  font-size: 16px;
  text-align: center
}
.signIn-label{
  color: #1ad4e8;
  font-weight: bold;
  font-size: x-large;
}
.signIn-select{
  height: 40px;
  margin: 5px;
}
button{
    background: #096965;
    height: 40px;
    color: white;
    /* margin: 5px; */
}
.sigIn-btn:hover {
  background: #13a39e;
}

/*Dashboard style*/
.dashboard-container {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 400px;
    border: 1px solid #cfcccc;
}
.dashboard-header-btns {
  display: flex;
  align-items: stretch;
}
.dashboard-tab {
  flex-grow: 1;
  /* color:  #09bbb5; */
  color: black;
  background: white;
  border: 1px solid #cfcccc;
  
}
.dashboard-tab-selected {
  flex-grow: 1;
  color:  #09bbb5; 
  background: white;
  border: 1px solid #cfcccc;
  
}

/* Dashboard Question */
.question-container{
  margin: 10px;
  border: 1px solid #cfcccc;
}

.quetion{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.question-header{
    font-weight: bold;
    color: black;
    border: 1px solid #cfcccc;
    background-color: #fcf9f9;
    padding: 10px;
}
.question-searator{
  border-right: 1px solid #cfcccc;
  margin: 10px 0;
}
.question-avatar{
    height: 60px;
    border-radius: 30px;
    margin: 10px;
}
.question-info{
  flex-grow: 1;
}
.dashboard-question-title{
  font-weight: bold;
  text-align:center;
  color: black;
}
.dashboard-question-title-dimed {
  color: #969696;
  font-size: 16px;
  text-align: center
}
.unAnswered-question-title{
  font-weight: bold;
  color: black;
  margin: 5px;
}
.unAnswered-question-options{
  display: flex;
  flex-direction: column;
}
.details-question-container{
  margin: 0 auto;
  width: 350px;
  border: 1px solid #cfcccc;
}